# 무시할 glob 패턴

# .DS_Store 라는 이름을 가지는 파일 혹은 디렉토리를 무시한다.
.DS_Store

# 파일 혹은 디렉토리의 이름의 맨 끝이 ~ 으로 끝나는 경우에 무시한다.
# emacs 의 백업 파일은 이러한 규칙을 가지기에, 그것의 무시에 사용된다.
*~

# blobs, foobar/blobs/, haha/hoho/blobs/ 등이 무시된다.
# 단, blobsooo/ 나 blobsoso/ 등은 무시되지 않는다.
# 맨 뒤에 / 를 붙여주는 것은 blobs 가 "디렉토리"임을 명시한 것이다.
# blobs 라는 이름을 가진 파일은 매치하지 않는다.
blobs/

# .wav, .png, .jpg 등의 확장자를 가지는 파일을 무시하도록 한다.
*.wav
*.png
*.jpg
